Podfile.lock
/Pods/*

*.xcuserstate
*.xcbkptlist
xcuserdata

/Crashlytics.framework/*
/Fabric.framework/*
/ScanApiSDK/*

fabric.sh

.DS_Store
.idea
.build
iSisSales/Resources/Firebase/iSisWarehouse/GoogleService-Info.plist
iSisSales/Resources/Firebase/iSisSales/GoogleService-Info.plist
iSisSales/Resources/Firebase/iSisDriver/GoogleService-Info.plist
iSisSales/Resources/Firebase/vfs/GoogleService-Info.plist
